$primary-color: #000000;
$secondary-color: #383636;
$accent: #2FF30F;
$select: #FFFFFF;

.defense-console{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}